
*{
	margin:0;
	padding:0;
	font-family:"poppins",sans-serif;
	box-sizing:border-box;
}
.header{
	height:20vh;
	width:100%;
	padding: 0 8%;
	background:#080008;
	
}
nav{
	display:flex;
	align-items:center;
	justify-content:space-between;
	 overflow: auto;
}
.logo{
	width:130px;
}
.nav-links {
	padding:28px 0;
}
.nav-links li{
	display:inline-block;
	margin:0 15px;
}
.nav-links li a{
	text-decoration:none;
	color:#fff;
	padding:5px 0;
	position:relative;
	
	
}
.nav-links li a::after{
	content:' ';
	background:#39706d;
	width:0%;
	height:2px;
	position:absolute;
    bottom:0;
	left:0;
	transition:width 0.5s;
		
}
.nav-links li a:hover::after{
	width:100%;
}
.user-pic{
	width:70px;
	border-radius:50%;
	cursor:pointer;
	margin-left:30px;
}

/*login and register button*/
.btn{
	background:#39706d;
	color:#fff;
	padding:10px 30px;
	border-radius:3px;
	cursor:pointer;
	
}
.btn2{
	background:#39706d;
	color:#fff;
	padding:10px 30px;
	border-radius:3px;
	cursor:pointer;
}
/*Home Page Cards-Facilities*/
.facilities {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 80px;
  background-color: #A9C7C5;
  
}

.facilities .work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.facilities .work i {
  width: fit-content;
  font-size: 50px;
  color: #333333;
  border-radius: 50%;
  border: 2px solid #333333;
  padding: 12px;
}

.facilities .work .work-heading {
  font-size: 20px;
  color: #333333;
  text-transform: uppercase;
  margin: 10px 0;
}

.facilities .work .work-text {
  font-size: 15px;
  color: #585858;
  margin: 10px 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	background-color: #A9C7C5;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

/*For footer*/
.footer{
	background-color: #24262b;
    padding: 40px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #39706d;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


/*Add property and Manage property css */
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #39706d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container7 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/*slideshow*/
* {box-sizing: border-box}
body { margin:0}

.mySlides {display:none ;}
img {vertical-align: middle;}

/* Slideshow container */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
 
  
}

/* Hide the images by default */
.mySlides {
  display: none;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}



/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



