.container2 {
    max-width: 75%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container1 h1 {
    text-align: center;
}


}	 
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 10px;
}


form input[type="text"],
form input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
	display:inline-block;
	
}

form input[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	text-align: center;
	width:100px;
	display:inline-block;
	
}
form input[type="button"]
{
    padding: 10px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	text-align: center;
	width:100px;
	display: inline-block;
	display:inline-block;
	
}

.button_spacing
{
	margin-right:10px;
	
}	
.f_input
{
	width:400px;
	
}	
body
{
	 background-image: url("media/landscape.JPG");
     background-size: cover;
     background-repeat: no-repeat;
}
section
{
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
	width:100%;
	
}	
h1
{
	text-align:center;
	color:#FFFFFF;
}	


label{
	color:#FFFFFF;
}
.bithday
{
   width:200px;
} 
  
.form_box
{
	position:relative;
	width:600px;
	height:600px;
	background:blue;
	display:flex;
	justify-content:center;
	align-items:center;
	background-image:url("media/landscape3.JPG");
	background-size: cover;
    background-repeat: no-repeat;
}	
.column{
	display:flex;
	column-gap:50px;
}
.ul_1
{
	list-style-type: none;
    margin: 0;
    padding: 0;
	width:100px;
	background-color: #f1f1f1;
	border: 1px solid #555;
	text-align: center;
	height: 100%; 
   
   
	
	
}
.li_1
{
	 display: block;
     width: 100px;
	 height:100px;
	 background-color: #dddddd;
	 padding: 8px 16px;
     text-decoration: none;
	 text-align: center;
     border-bottom: 1px solid #555;
	 
}	 




